Vagrant.configure("2") do |config|

  config.vm.define :ubuntu1804 do |config|
      config.vm.box = "ubuntu1804-0.1.0"
      config.vm.hostname = "ubuntu1804"
      config.vm.network :private_network, ip: "10.10.10.10"
      config.vm.synced_folder "./share", "/data", type: "nfs"
      config.vm.provision :shell, path: "./bootstrap.sh"
      config.vm.provider "virtualbox" do |v|
          v.name = "ubuntu1804"
          v.customize ["modifyvm", :id, "--cpus", "1"]
          v.customize ["modifyvm", :id, "--memory", "1024"]
      end
  end

end
