Vagrant.configure("2") do |config|

  config.vm.define :ubuntu do |config|
      config.vm.box = "ubuntu"
      config.vm.hostname = "ubuntu"
      config.vm.network :private_network, ip: "10.10.10.10"
      config.vm.synced_folder "./share", "/data"
      config.vm.provision :shell, path: "./bootstrap.sh"
      config.vm.provider "virtualbox" do |v|
          v.name = "ubuntu"
          v.customize ["modifyvm", :id, "--cpus", "1"]
          v.customize ["modifyvm", :id, "--memory", "1024"]
      end
  end

end
