# hosts
cat > /etc/hosts <<'EOF'
127.0.0.1 localhost
EOF

# 计划任务
cat > /var/spool/cron/root <<'EOF'
#*/15 * * * * echo "aa" >/dev/null 2>&1
EOF

# 环境变量
cat > ~/.bashrc <<'EOF'
export PATH=$PATH
EOF


sudo timedatectl set-timezone Asia/Shanghai
# 换源
cat > /etc/apt/sources.list <<'EOF'
deb http://mirrors.tencent.com/ubuntu/ bionic main restricted universe multiverse
deb http://mirrors.tencent.com/ubuntu/ bionic-security main restricted universe multiverse
deb http://mirrors.tencent.com/ubuntu/ bionic-updates main restricted universe multiverse
deb http://mirrors.tencent.com/ubuntu/ bionic-proposed main restricted universe multiverse
deb http://mirrors.tencent.com/ubuntu/ bionic-backports main restricted universe multiverse
deb-src http://mirrors.tencent.com/ubuntu/ bionic main restricted universe multiverse
deb-src http://mirrors.tencent.com/ubuntu/ bionic-security main restricted universe multiverse
deb-src http://mirrors.tencent.com/ubuntu/ bionic-updates main restricted universe multiverse
deb-src http://mirrors.tencent.com/ubuntu/ bionic-proposed main restricted universe multiverse
deb-src http://mirrors.tencent.com/ubuntu/ bionic-backports main restricted universe multiverse
EOF
sudo apt -y update
sudo apt -y upgrade

# 启动服务
sudo /etc/init.d/nginx start
sudo /etc/init.d/php7.2-fpm start
sudo /etc/init.d/redis-server start
